h1 {
  color: #FFFFFF; }

h2 {
  color: cadetblue; }

p {
  color: #363636; }

h3 {
  color: #FFFFFF; }

h4 {
  color: #FFFFFF; }

label {
  color: #FFFFFF; }

h6 {
  color: #FFFFFF; }

.textoP p {
  color: #FFFFFF; }

body h1 font {
  size: 200% !important;
  family: "Relaway", sans-serif !important;
  weight: bold !important; }

body h2 font {
  size: 200% !important;
  family: "Relaway", sans-serif !important;
  weight: bold; }

body h4 {
  family: "Relaway", sans-serif;
  weight: bold; }

body p font {
  size: 110% !important;
  family: "Relaway", sans-serif !important; }

.negrita {
  font-weight: bold; }

.img-fluid {
  width: 50%; }

.imgMarcas {
  width: 30%;
  display: block; }

.imgRedes {
  display: block;
  padding: 10px; }

.player {
  width: 10%; }

@media only screen and (max-width: 767px) {
  .imgProductos {
    padding: 10px;
    display: inline-block;
    width: 50%; }
  .imgMarcas {
    width: 30%;
    display: inline-block; } }

h1 {
  color: #FFFFFF; }

h2 {
  color: cadetblue; }

p {
  color: #363636; }

h3 {
  color: #FFFFFF; }

h4 {
  color: #FFFFFF; }

label {
  color: #FFFFFF; }

h6 {
  color: #FFFFFF; }

.textoP p {
  color: #FFFFFF; }

.fondoFooter {
  background: #333;
  width: 100%; }

.footerLinks a {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  margin-left: 15px; }

.container-fluid {
  padding: 0;
  margin: 0; }

.footerPadding {
  padding: 20px; }

@media only screen and (max-width: 767px) {
  .footerLinks a {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    margin-left: 5px; } }

h1 {
  color: #FFFFFF; }

h2 {
  color: cadetblue; }

p {
  color: #363636; }

h3 {
  color: #FFFFFF; }

h4 {
  color: #FFFFFF; }

label {
  color: #FFFFFF; }

h6 {
  color: #FFFFFF; }

.textoP p {
  color: #FFFFFF; }

html,
body,
header,
.view {
  height: 100%; }

.fondoNav {
  background-color: rgba(0, 0, 0, 0.6) !important; }

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh; } }

.top-nav-collapse {
  background-color: #030303 !important; }

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #030303 !important; } }

h1 {
  letter-spacing: 8px; }

h5 {
  letter-spacing: 3px; }

.hr-light {
  border-top: 3px solid #fff;
  width: 80px; }

h1 {
  color: #FFFFFF; }

h2 {
  color: cadetblue; }

p {
  color: #363636; }

h3 {
  color: #FFFFFF; }

h4 {
  color: #FFFFFF; }

label {
  color: #FFFFFF; }

h6 {
  color: #FFFFFF; }

.textoP p {
  color: #FFFFFF; }

html,
body,
header,
.view {
  height: 100%; }

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1050px; } }

.card {
  background-color: rgba(126, 123, 215, 0.2); }

.md-form label {
  color: #ffffff; }

h6 {
  line-height: 1.7; }

.paddingSeccion {
  padding: 50px; }

.formPadding {
  padding: 15px; }

@media only screen and (max-width: 767px) {
  .map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0; }
  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }
  .Destacados {
    margin-left: 48px; } }
