h1 {
  color: #FFFFFF; }

h2 {
  color: cadetblue; }

p {
  color: #363636; }

h3 {
  color: #FFFFFF; }

h4 {
  color: #FFFFFF; }

label {
  color: #FFFFFF; }

h6 {
  color: #FFFFFF; }

.textoP p {
  color: #FFFFFF; }

body h2 font {
  size: 200%;
  family: "Relaway", sans-serif;
  weight: bold; }

body h4 {
  family: "Relaway", sans-serif;
  weight: bold; }

body p font {
  size: 110%;
  family: "Relaway", sans-serif; }

.negrita {
  font-weight: bold; }

.img-fluid {
  width: 50%; }

.imgMarcas {
  width: 30%;
  display: block; }

.imgRedes {
  display: block;
  padding: 10px; }

.player {
  width: 10%; }

.transformacion :hover {
  transform: scale(1.5, 1.5);
  transition: 2s; }

@media only screen and (max-width: 767px) {
  .imgProductos {
    padding: 10px; } }

h1 {
  color: #FFFFFF; }

h2 {
  color: cadetblue; }

p {
  color: #363636; }

h3 {
  color: #FFFFFF; }

h4 {
  color: #FFFFFF; }

label {
  color: #FFFFFF; }

h6 {
  color: #FFFFFF; }

.textoP p {
  color: #FFFFFF; }

.gradiente {
  background: #333;
  width: 100%; }

.footerLinks a {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  margin-left: 15px; }

.container-fluid {
  padding: 0;
  margin: 0; }

.footerPadding {
  padding: 20px; }

@media only screen and (max-width: 767px) {
  .footerLinks a {
    text-decoration: none;
    color: #030303;
    display: block;
    margin-left: 5px; } }

h1 {
  color: #FFFFFF; }

h2 {
  color: cadetblue; }

p {
  color: #363636; }

h3 {
  color: #FFFFFF; }

h4 {
  color: #FFFFFF; }

label {
  color: #FFFFFF; }

h6 {
  color: #FFFFFF; }

.textoP p {
  color: #FFFFFF; }

html,
body,
header,
.view {
  height: 100%; }

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh; } }

.top-nav-collapse {
  background-color: #78909c !important; }

.navbar:not(.top-nav-collapse) {
  background: transparent !important; }

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important; } }

h1 {
  letter-spacing: 8px; }

h5 {
  letter-spacing: 3px; }

.hr-light {
  border-top: 3px solid #fff;
  width: 80px; }

html,
body,
header,
.view {
  height: 100%; }

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px; } }

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 650px; } }

.top-nav-collapse {
  background-color: #3f51b5 !important; }

.navbar:not(.top-nav-collapse) {
  background: transparent !important; }

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #3f51b5 !important; } }

.rgba-gradient {
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%));
  background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%); }

.card {
  background-color: rgba(126, 123, 215, 0.2); }

.md-form label {
  color: #ffffff; }

h6 {
  line-height: 1.7; }

.paddingSeccion {
  padding: 50px; }

@media only screen and (max-width: 767px) {
  .map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0; }
  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }
  .Destacados {
    margin-left: 50px; } }
