$celeste: cadetblue;
$gris : #CDD0D0;
$negroF:#363636;
$negroT: #030303;
$nav:#333;
$blanco: #FFFFFF;
h1 {
    color: $celeste;
}

h2 {
    color: $celeste;
 }

 p {
    color: $blanco;
 }

h4{
    color: $celeste;
 }

label {
    color: $blanco;
}

