$celeste: cadetblue;
$gris : #CDD0D0;
$negroF:#363636;
$negroT: #030303;
$blanco: #FFFFFF;
h1 {
    color: $blanco;
}

h2 {
    color: $celeste;
 }

 p {
    color: $negroF;
 }

 h3{
 color: $blanco;
 }

h4{
    color: $blanco;
 }

label {
    color: $blanco;
}

h6{
color: $blanco;
    
}

.textoP p{
    color: $blanco;
}