$fontFamily: 'Relaway', sans-serif; 
$titulo:200%;
$ptexto:110%;

$vista: desktop;

body{
    @if $vista == desktop {

        h1{
            font{
            size: $titulo !important;
            family: $fontFamily !important;
            weight: bold !important;

            }
        }

        h2{
            font{
                size: $titulo !important;
                family: $fontFamily !important;
                weight: bold;
                }
        }

        h4{
            family:$fontFamily;
            weight: bold;
        }

        p {
            font{ 
            size:$ptexto !important;
            family:$fontFamily !important;
            }
        }
    }

    @else if $vista == mobile {

        h1{
            font{
                text-align: center;
                }       
        }

        h2{
            font{
                size: $titulo;
                family: $fontFamily;
                weight: bold;
                }
        }

        p {
            font{ 
            size:$ptexto;
            family:$fontFamily;
            text-alig: center;
            }
        }
       
    }
}

.negrita{
    font-weight: bold;
}
