 .img-fluid{
 width:50%;
    
}

.imgMarcas{
   width: 30%;
   display: block;}

.imgRedes{
   display: block;
   padding: 10px;
}


.player{
    width: 10%;
}

.transformacion :hover{
   transform: scale(1.5, 1.5);
   transition: 2s;
   }

@media only screen and (max-width: 767px){

.imgProductos{
   padding:10px;
}
   }
