 .img-fluid{
 width:50%;
    
}

.imgMarcas{
   width: 30%;
   display: block;}

.imgRedes{
   display: block;
   padding: 10px;
}


.player{
    width: 10%;
}



@media only screen and (max-width: 767px){

.imgProductos{
   padding:10px;
   display: inline-block;
   width: 50%;
}

.imgMarcas{
   width: 30%;
   display: inline-block;
   }

   
}
